@font-face {
  font-family: 'login';
  src: url('../font/LINESeedKR-Bd.ttf') format('truetype');
}

body {
  background-color: black;
  height: 98vh;
  font-family: login;
  display: flex;
  justify-content: center;
  align-items: center;
}

p {
  font-size: small;
  width: 85%;
  margin-left: 30px;
}

.signup {
  width: 400px;
  height: 480px;
  background-color: #ECECEC;
  border-radius: 100px;
  padding: 30px;
}

.signin {
  width: 400px;
  height: 350px;
  background-color: #ECECEC;
  border-radius: 100px;
  padding: 30px;
}

.login-tag {
  display: flex;
  justify-content: space-evenly;
}

.input {
  margin-top: 10px;
  margin-left: 20px;
}

.submit {
  display: flex;
  justify-content: center;
}

.submit-btn {
  width: 75px;
  height: 40px;
  border: none;
  border-radius: 10px;
  background-color: #D9D9D9;
  font-family: login;
  cursor: pointer;
  transition: 0.5s;
}

.a {
  text-decoration: none;
  color: black;
}

.active {
  color: #c5c5c5;
}

#id_username,
#id_password {
  width: 90%;
  height: 40px;
  border: none;
  border-radius: 10px;
  background-color: #D9D9D9;
  font-family: login;
  padding-left: 10px;
}

.margin {
  margin-top: 30px;
}

#id_nickname::placeholder {
  font-size: smaller;
}

.login-alert {
  width: 99.2%;
  height: 98%;
  position: absolute;
  display: none;
  background-color: rgba(0, 0, 0, 0.8);
}

.login-alert-modal {
  top: 50%;
  left: 50%;
  padding: 30px;
  width: 28rem;
  height: 5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #f5f5f5;
  border-radius: 50px;
  position: absolute;
  transform: translateX(-50%) translateY(-50%);
  box-shadow: 10px 10px #d9d9d9;
}

.alert-message {
  font-size: 16px;
  width: fit-content;
  height: fit-content;
}