<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="{% static 'css/home.css' %}">
</head>
<body>
  <div class="box">
    <img src="{% static 'images/spiderman.jpg' %}" alt="">
    <div class="title">With great power comes great responsibility.</div>
    <div class="login">
      {% comment %} <a href="{% url 'accounts:signup' %}">SIGN UP</a> |
      <a href="{% url 'accounts:signin' %}">SIGN IN</a> {% endcomment %}
      <a href="{% url 'accounts:signup' %}">LOG IN</a>
      <form action="{% url 'accounts:logout' %}" method="POST">
        {% csrf_token %}
        <button type="submit">LOG OUT</button>
      </form>
    </div>
  </div>
</body>
</html>