@font-face {
  font-family: 'movie';
  src: url('../font/LINESeedKR-Bd.ttf') format('truetype');
}

body {
  background-color: black;
  font-family: movie;
  color: white;
}

a {
  width: 30rem;
  height: 30rem;
  flex: 0 0 25%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  margin-top: 30px;
}

.nav {
  width: 90%;
  height: 5rem;
  margin-top: 0;
  padding-left: 10%;
  padding-top: 5%;
  padding-bottom: 2%;
  color: white;
  font-size: 3em;
}

.box {
  display: flex;
  justify-content: center;
}

.movie-img {
  width: 20rem;
  height: 30rem;
  border-radius: 10px;
}

.movie-list {
  width: 87rem;
  display: flex;
  flex-wrap: wrap;
  /* justify-content: center; */
}

.info {
  display: none;
}

.movie-img:hover {
  opacity: 0.2;
}

.movie-img:hover ~ .info {
  display: block;
  width: 90%;
  position: absolute;
  font-family: movie;
  color: white;
  font-size: 25px;
  text-align: center;
}