@font-face {
  font-family: 'detail';
  src: url('../font/LINESeedKR-Bd.ttf') format('truetype');
}

body {
  background-color: black;
  font-family: detail;
  height: 50rem;
  color: white;
}

.movie-img {
  width: 25rem;
  height: 35rem;
  border-radius: 10px;
  box-shadow: 10px 10px #d9d9d9;
}

a {
  width: 30px;
  height: 30px;
}

.nav {
  width: 90%;
  /* height: 100px; */
  height: 5rem;
  margin-top: 0;
  padding-left: 10%;
  padding-top: 5%;
  padding-bottom: 2%;
  font-size: 3em;
}

.box {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 50px;
}

.info {
  width: 40rem;
  font-size: 1.3em;
  margin-left: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.line-height {
  width: 100%;
  height: 200px;
  overflow-y: scroll;
  line-height: 50px;
  font-size: 0.8em !important;
}

.line-height::-webkit-scrollbar {
  display: none;
}

.back {
  width: 30px;
  height: 30px;
}

.star {
  margin-top: 10px;
  margin-bottom: 60px;
}