@font-face {
  font-family: 'movie';
  src: url('../font/LINESeedKR-Bd.ttf') format('truetype');
}

body {
  background-color: black;
  font-family: movie;
  color: white;
}

.movie-a {
  width: 30rem;
  height: 25rem;
  flex: 0 0 25%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  margin-top: 20px;
}

.nav {
  width: 90%;
  height: 5rem;
  margin-top: 0;
  padding-left: 10%;
  padding-top: 5%;
  padding-bottom: 2%;
  color: white;
  font-size: 3em;
}

.box {
  display: flex;
  justify-content: center;
  margin-top: 70px;
}

.movie-img {
  width: 18rem;
  height: 25rem;
  border-radius: 10px;
}

.movie-list {
  width: 75rem;
  display: flex;
  flex-wrap: wrap;
  /* justify-content: center; */
}

.info {
  display: none;
}

.movie-img:hover {
  opacity: 0.2;
}

.movie-img:hover ~ .info {
  display: block;
  width: 90%;
  position: absolute;
  font-family: movie;
  color: white;
  font-size: 17px;
  text-align: center;
}

.back {
  width: 30px;
  height: 30px;
}

.back-page {
  display: flex;
  justify-content: flex-start;
  margin-left: 30px;
  margin-top: 630px;
  position: fixed;
}

.load-form {
  display: flex;
  justify-content: center;
  margin-top: 40px;
  margin-bottom: 40px;
}

#load-form {
  width: fit-content;
}

#load-button {
  background-color: transparent;
  font-family: movie;
  color: white;
  font-size: 17px;
  cursor: pointer;
}