{% extends 'base.html' %}
{% load static %}

{% block script %}
  <link rel="stylesheet" href="{% static "css/movie-detail.css" %}">
{% endblock script %}


{% block content %}
  <div class="nav">{{ movie.title }}</div>
  <div class="box">
    <img src="https://image.tmdb.org/t/p/w500{{ movie.poster_path }}" alt="movie img" class="movie-img">
    <div class="info">
      <p>{% for genre in genres %}{{ genre }}{% endfor %} | {{ movie.runtime }} 분</p>
      <p>평점 {{ vote_average }}</p>
      <p>{{ movie.release_date }}</p>
      <p>{{ director }}</p>
      <div class="line-height">{{ movie.overview }}</div>
    </div>
    <a href="{% url 'movies:index' %}"><img src="{% static "images/back.png" %}" alt="" class="back"></a>
  </div>
{% endblock content %}