{% extends 'base.html' %}
{% load static %}

{% block css %}
  <link rel="stylesheet" href="{% static 'css/create.css' %}">
{% endblock css %}

{% block content %}
  <div class="nav">감독 비하인드 작성 페이지</div>
  <hr>
  <div class="form-box">
    <form action="{% url 'behinds:create' %}" method="POST">
      {% csrf_token %}
      <div class="title">
        {% comment %} <label for="title">Title: </label> {% endcomment %}
        <input type="text" name="title" id="title" placeholder = "   제목을 입력하세요.">
      </div>
      <div class="content">
        {% comment %} <label for="content">Content: </label> {% endcomment %}
        <textarea id="content" name="content" cols="30" rows="10" placeholder="내용을 입력하세요."></textarea>
        {% comment %} <input type="text" name="content" id="content" placeholder = "   내용을 입력하세요."> {% endcomment %}
      </div>
      <input type="submit" class="submit-btn" value="작성하기">
      {% comment %} <input type="submit" value="제출" class="submit-btn"> {% endcomment %}
    </form>
  </div>
  <a href="{% url 'behinds:index' %}"><img src="{% static "images/back.png" %}" alt=""></a>
{% endblock content %}