{% extends 'base.html' %}
{% load static %}

{% block css %}
  <link rel="stylesheet" href="{% static "css/detail.css" %}">
{% endblock css %}

{% block script %}
  <script type="text/javascript" src="{% static "js/edit.js" %}"></script>
  <script type="text/javascript" src="{% static "js/navbar-back.js" %}"></script>
{% endblock script %}

{% block content %}
  <a href="{% url 'behinds:index' %}" id="back-page"><img src="{% static "images/back.png" %}" alt="" class="back"></a>
  <div class="detail">
    <div class="detail-box">
      <div class="btn">
        <form action="{% url 'behinds:update' behind.pk %}" method="GET">
          <button type="subimt" class="margin-btn"><img src="{% static "images/pencil.png" %}" alt="" class="img"></button>
        </form>
        <form action="{% url 'behinds:delete' behind.pk %}" method="POST">
          {% csrf_token %}
          <button type="submit"><img src="{% static "images/delete.png" %}" alt="" class="img"></button>
        </form>
      </div>
      <h1 class="behind-title">{{ behind.title }}</h1>
      <div class="info">
        <p>작성자 : <a href="{% url 'mypage:index' behind.user.pk %}" class="nickname1">{{ behind.user.username }}</a> 감독</p>
        <p>작성일자 : {{ behind.updated_at | date:"Y.m.d H:i:s" }}</p>
      </div>
      <hr>
      <p>{{ behind.content }}</p>
    </div>
    
    {% comment %} comment {% endcomment %}
    <div class="second-box">
      <p class="comment-info">댓글 작성</p>
      <form action="{% url 'behinds:comment_create' behind.pk %}"  method="POST" class="form">
        {% csrf_token %}
        {{ form.content }}
        {{ form.content.errors }}
        <button type="submit" class="comment-btn">등록</button>
      </form>

      <div class="comments">
        {% for comment in comments %}
          <div class="comment-box">
            <div class="comment-profile">
              <div>
                <a href="{% url 'mypage:index' comment.user_comment.pk %}" class="nickname">{{ comment.user_comment.nickname }}</a>
                <span class="nickname">{{ comment.updated_at | date:"Y.m.d H:i:s" }}</span>
              </div>
            
              <div class="btn2">
                {% if comment.user_comment == user %}
                  <form
                    class="update-form update-form{{ comment.pk }}"
                    data-comment-id="{{ comment.pk }}"
                    data-comment-content="{{ comment.content }}"
                    style="display:block;"
                  >
                    <button type="submit" class="update-btn">수정</button>
                  </form>
                  <form
                    class="udpate-form-axios update-form-axios{{ comment.pk }}"
                    data-comment-id="{{ comment.pk }}"
                    data-comment-content="{{ comment.content }}"
                    data-behind-id="{{ behind.pk }}"
                    style="display:none;"
                  >
                    <button type="submit" class="update-btn">수정</button>
                    <button
                      class="update-btn edit-cancel edit-cancel{{ comment.pk }}"
                      data-comment-id="{{ comment.pk }}"
                      data-comment-content="{{ comment.content }}"
                    >취소</button>
                  </form>
                  <form action="{% url 'behinds:comment_delete' behind.pk comment.pk %}">
                    <button type="submit" class="update-btn">삭제</button>
                  </form>
                {% endif %}
              </div>
            </div>
            <div id="edit-div{{ comment.pk }}" style="display:none;">
              <input type="text" id="edit-area{{ comment.pk }}" class="edit-input">
            </div>
            {% comment %} 댓글 나오는 부분 {% endcomment %}
            <div class="comment-scroll">
              <span id="comment-{{ comment.pk }}" class="comment-content">{{ comment.content }}</span>
            </div>
          </div>
        {% endfor %}
      </div>
    </div>
  </div>
{% endblock content %}