{% extends 'base.html' %}
{% load static %}

{% block css %}
  <link rel="stylesheet" href="{% static 'css/behinds.css' %}">
{% endblock css %}

{% block script %}
  <script type="text/javascript" src="{% static "js/search.js" %}"></script>
  <script type="text/javascript" src="{% static "js/follow.js" %}"></script>
{% endblock script %}

{% block content %}
  <div class="nav">
    감독 비하인드
  </div>
  <div class="box">
    <div class="select-box">
      <select name="types" id="types" class="select">
        <option value="update">최신순</option>
        <option value="popular">인기순</option>
      </select>
      <input type="text" class="input" id="search-input">
      <img src="{% static "images/search.png" %}" alt="" class="search" id="search">
    </div>
    <div class="middle-box">
      <div class="form-box" id="form-box">
        {% for behind in behinds %}
          <div class="form-list" id="form-list">
            <div class="profile">
              <div class="profile-user">
                <img src="{% static "images/user.png" %}" alt="" class="user">
                <p id="director">{{ behind.user.username }} 감독</p>
              </div>
              <form id="follow-form" data-user-id="{{ behind.user.pk }}">
                {% csrf_token %}
                {% if user in behind.user.followings %}
                  <button type="submit" class="follow" id="like-button-{{ behind.user.pk }}">언팔로우</button>
                {% else %}
                  <button type="submit" class="follow" id="like-button-{{ behind.user.pk }}">팔로우</button>
                {% endif %}
              </form>
            </div>
            <h2>제목 : {{ behind.title }}</h2>    
            <p>내용 : {{ behind.content }}</p>
            <div class="like">
              <a href=""><img src="{% static "images/love.png" %}" alt="" class="like-img"></a>
              <a href=""><img src="{% static "images/heart.png" %}" alt="" class="like-img"></a> 
              <p>12</p>
            </div>
          </div>
        {% endfor %}
      </div>
    </div>
    <a href="{% url 'behinds:create' %}"><img src="{% static "images/create.png" %}" alt="" class="img"></a>
  </div>
{% endblock content %}