{% extends 'base.html' %}
{% load static %}

{% block css %}
  <link rel="stylesheet" href="{% static 'css/create.css' %}">
{% endblock css %}

{% block script %}
  <script type="text/javascript" src="{% static "js/create-alert.js" %}"></script>
{% endblock script %}

{% block content %}
{% comment %} alert modal 부분 {% endcomment %}
  <div class="create-alert" id="create-alert">
    <div class="create-alert-modal">
      {% for message in messages %}
        <p class="alert-message">{{ message }}</p>
      {% endfor %}
    </div>
  </div>

  {% comment %} 감독 비하인드 수정 {% endcomment %}
  <div class="nav">감독 비하인드 수정 페이지</div>
  <div class="form-box">
    <form action="{% url 'behinds:update' behind.pk %}" method="POST">
      {% csrf_token %}
      <div class="title">
        <input type="text" name="title" id="title" value = "{{ behind.title }}">
      </div>
      <div class="content">
        <textarea id="content" name="content" cols="30" rows="10">{{ behind.content }}</textarea>
      </div>
      <input type="submit" class="submit-btn">
    </form>
  </div> 
  <a href="{% url 'behinds:detail' behind.pk %}"><img src="{% static "images/back.png" %}" alt=""></a>
{% endblock content %}
