{% extends 'base.html' %}
{% load static %}

{% block css %}
  <link rel="stylesheet" href="{% static 'css/create.css' %}">
{% endblock css %}

{% block content %}
  <div class="nav">
    UPDATE PAGE
  </div>
  <div class="form-box">
    <form action="{% url 'behinds:update' behind.pk %}" method="POST">
      {% csrf_token %}
      <input type="submit" class="submit-btn">
      <div class="title">
        {% comment %} <label for="title">Title: </label> {% endcomment %}
        <input type="text" name="title" id="title" value = "{{ behind.title }}">
      </div>
      <div class="content">
        {% comment %} <label for="content">Content: </label> {% endcomment %}
        <input type="text" name="content" id="content" value = "{{ behind.content }}">
      </div>
      {% comment %} <input type="submit" value="제출" class="submit-btn"> {% endcomment %}
    </form>
  </div>
  <a href="{% url 'behinds:detail' behind.pk %}">[back]</a>
{% endblock content %}

{% block script %}


{% endblock script %}