@font-face {
  font-family: 'behind';
  src: url('../font/LINESeedKR-Bd.ttf') format('truetype');
}

body {
  background-color: black;
  height: 50rem;
  /* min-width: 620px; */
  font-family: behind;
}

hr {
  animation: separator-width 0.5s ease-out forwards;
}

@keyframes separator-width {
  0% {
    width: 0;
  }
  100% {
    width: 100%;
  }
}

.nav {
  width: 90%;
  /* height: 100px; */
  height: 4.5rem;
  margin-top: 0;
  padding-left: 10%;
  padding-top: 5%;
  padding-bottom: 2%;
  color: white;
  font-size: 3em;
}

a {
  /* text-decoration: none; */
  color: black;
}

.create-page {
  width: 120px;
  color: white;
}

.a-align {
  display: flex;
  align-items: center;
}

.profile {
  display: flex;
  justify-content: space-between;
}

.profile-user {
  display: flex;
  align-items: center;
}

.user {
  width: 40px;
  height: 40px;
  margin-right: 10px;
  /* margin-top: 10px; */
  border-radius: 50px;
  border: 2px solid black;
}

#director {
  font-size: 20px;
}

.img {
  width: 22px;
  height: 22px;
  padding-bottom: 5px;
}

.box {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 44rem;
}

/* .select-box {
  display: flex;
  justify-content: center;
  margin-top: 40px;
  width: 100%;
  height: 2rem;
} */

.middle-box {
  width: 42rem;
  height: 95%;
  margin-right: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.form-box {
  width: 50rem;
  height: 95%;
  overflow-y: scroll;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 50px;
} 

.form-box::-webkit-scrollbar {
  display: none;
}

.form-list {
  background-color: #f5f5f5;
  width: 70%;
  padding: 30px;
  margin-top: 30px;
  border-radius: 40px;
  box-shadow: 10px 10px #d9d9d9;
}

.input {
  width: 300px;
  height: 30px;
  border: 2px solid black;
  border-radius: 20px;
  margin-left: 60px;
  margin-right: 20px;
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 5px;
  padding-bottom: 5px;
  background: #f5f5f5;
  caret-color: black;
  font-size: medium;
  font-family: behind;
  box-shadow: 5px 5px #262626;
}

.input:focus {
  outline: none;
}

.search {
  width: 30px;
  height: 30px;
  text-decoration: underline;
}

.follow {
  width: 65px;
  height: 35px;
  margin-top: 10px;
  border-radius: 15px;
  border: none;
  background-color: white;
  font-family: behind;
  cursor: pointer;
  box-shadow: 5px 5px #5d5d5d;
  border: 2px solid black;
}

.follow:hover {
  transform: scale(1.1);
}

.like {
  display: flex;
  height: 30px;
  margin-top: 30px;
  margin-left: 5px;
  align-items: flex-start;
}

.like-img {
  width: 25px;
  height: 25px;
  margin-top: 12px;
  margin-right: 7px;
  cursor: pointer;
}

.like-img:hover {
  transform: scale(1.1);
}

.re-select {
  color: white;
  height: fit-content;
  font-size: 18px;
  font-family: behind;
  background-color: transparent;
  text-align: start;
  cursor: pointer;
  margin-bottom: 30px;
}

.re-select-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 80px;
  width: fit-content;
  height: 10rem;
  /* line-height: 70px; */
  font-size: 18px;
}

.deactivate {
  color: #4a4a4a;
}

.modal-box {
  width: 99.2%;
  height: 98%;
  position: absolute;
  display: none;
  background-color: rgba(0, 0, 0, 0.8);
}

.modal {
  top: 50%;
  left: 50%;
  padding: 30px;
  width: 30rem;
  height: 35rem;
  background-color: #f5f5f5;
  border-radius: 50px;
  position: absolute;
  transform: translateX(-50%) translateY(-50%);
  /* box-shadow: 10px 10px #d9d9d9; */
  border: 5px solid black;
}

.modal-form {
  display: flex;
  align-items: center;
}

.in-content-box {
  width: fit-content;
  height: fit-content;
  padding: 10px;
}

.search-btn {
  width: 25px;
  height: 25px;
  margin-left: 10px;
}

.search-box {
  display: flex;
  width: fit-content;
  text-decoration: underline;
}

.not-visible {
  display: none;
}

.result-card {
  max-height: 90%;
  margin-top: 5px;
  padding: 10px;
  overflow-y: scroll;
  overflow-x: hidden;
}

.result-card::-webkit-scrollbar {
  width: 5px;
}

.result-card::-webkit-scrollbar-thumb {
  background-color: #bbbbbb;
  opacity: 0.5;
  border-radius: 10px;
} 

/* .result-card::-webkit-scrollbar-track {
  background-color: #d9d9d9;
  border-radius: 10px;
} */

.link {
  text-decoration: none;
}

.websearch{
  width: 50px;
  height: 50px;
}

.create-alert {
  width: 99.2%;
  height: 98%;
  position: absolute;
  display: none;
  background-color: rgba(0, 0, 0, 0.8);
}

.create-alert-modal {
  top: 45%;
  left: 50%;
  padding: 30px;
  width: 30rem;
  height: 6rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #f5f5f5;
  border-radius: 50px;
  position: absolute;
  transform: translateX(-50%) translateY(-50%);
  box-shadow: 10px 10px #d9d9d9;
}

.alert-font {
  font-family: behind;
  font-size: large;
}

.alert-btn {
  width: 60px;
  height: 40px;
  font-family: behind;
  /* border: none; */
  border-radius: 20px;
  background-color: #f5f5f5;
  /* margin-left: 15rem; */
  cursor: pointer;
  box-shadow: 3px 3px #c9c9c9;
}

.content-a h2 {
  width: 540px;
  word-wrap: break-word;
}