{% extends 'base.html' %}
{% block content %}
    <h1>SIGN UP</h1>    
    <h1>SIGN IN</h1>
    <form action="{% url 'accounts:login' %}" method="POST">
        {% csrf_token %}
        {% comment %} <label for="email">Email: </label>
        <input type="text" name="email" id="email" placeholder = "이메일">
        <label for="password">Password: </label>
        <input type="text" name="password" id="password" placeholder = "비밀번호">
        <input type="submit" value="제출"> {% endcomment %}
        {{form.as_p}}
        <input type="submit" value="제출">
    </form>
{% endblock content %}