<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="{% static 'css/user-login.css' %}">
  <title>Document</title>
</head>
<body>
  {% comment %} error alert 띄우는 부분 {% endcomment %}
  <div class="login-alert" id="login-alert">
    <div class="login-alert-modal">
      {% for message in messages %}
        <p class="alert-message">{{ message }}</p>
      {% endfor %}
    </div>
  </div>

  {% comment %} 회원가입하는 부분 {% endcomment %}
  <div class="signup">
    <div class="login-tag">
      <a href="{% url 'accounts:signup' %}" class="a"><h1>SIGN UP</h1></a>
      <h1>|</h1>
      <a href="{% url 'accounts:signin' %}" class="a active"><h1>SIGN IN</h1></a>
    </div>
    <form action="{% url 'accounts:signup' %}" method="POST">
      {% csrf_token %}
      {% comment %} {{ form.as_p }} {% endcomment %}
      <div class="input">
        <label for="{{ form.username.id_for_label }}">Username</label><br>
        {{ form.username }}
      </div>
      <div class="input">
        <label for="{{ form.nickname.id_for_label }}">Nickname</label><br>
        {{ form.nickname }}
      </div>
      <div class="input">
        <label for="{{ form.email.id_for_label }}">Email</label><br>
        {{ form.email }}
      </div>
      <div class="input">
        <label for="{{ form.password1.id_for_label }}">Password</label><br>
        {{ form.password1 }}
      </div>
      <p class="check">감독 인증이 필요하신 분들은 _____@gmail.com으로<br> 필요한 서류를 제출하시길 바랍니다.</p>
      <div class="submit">
        <button type="submit" class="submit-btn">SIGN UP</button>
      </div>
    </form>
  </div>

  <script type="text/javascript" src="{% static "js/signup-alert.js" %}"></script>
</body>
</html>