<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="{% static "css/signup.css" %}">
  <title>Document</title>
</head>
<body>
  <div class="login-alert" id="login-alert">
    <div class="login-alert-modal">
      {% for message in messages %}
        <p class="alert-message">{{ message }}</p>
      {% endfor %}
    </div>
  </div>

  <div class="signin">
    <div class="login-tag">
      <a href="{% url 'accounts:signup' %}" class="a active"><h1>SIGN UP</h1></a>
      <h1>|</h1>
      <a href="{% url 'accounts:signin' %}" class="a"><h1>SIGN IN</h1></a>
    </div>
    <form action="{% url 'accounts:signin' %}" method="POST">
      {% csrf_token %}
      <div class='input'>
        <label for="{{ form.username.id_for_label }}">Email / Username</label><br>
        {{ form.username }}
      </div>
      <div class="input margin">
        <label for="{{ form.password.id_for_label }}">Password</label><br>
        {{ form.password }}
      </div>
      <div class="submit">
        <input type="submit" class="submit-btn margin" value="SIGN IN">  
      </div>
    </form>
  </div>

  <script type="text/javascript" src="{% static "js/signin-alert.js" %}"></script>
</body>
</html>