@font-face {
  font-family: 'title';
  src: url('../font/PPWoodland-Bold.otf') format('truetype');
}

@keyframes fadeUp {
  0% {
    opacity: 0;
    transform: translate3d(0, 100%, 0);
  }
  to {
    opacity: 1;
    transform: translateZ(0);
  }
}

body {
  background-color: black;
  font-family: title;
  height: 50rem;
}

img {
  width: 480px;
  height: 750px;
  margin-top: 660px;
  border-top-left-radius: 300px;
  border-top-right-radius: 300px;
  opacity: 0.3;
  position: relative;
}

a {
  text-decoration: none;
  color: white;
}

button {
  background-color: transparent;
  color: white;
  font-size: 27px;
  outline: none;
  border: none;
  font-family: title;
  margin-left: 30px;
  cursor: pointer;
}

.login {
  font-size: 27px !important;
  position: relative;
  top: -750px;
  animation: fadeUp 5s;
  display: flex;
  align-items: center;
}

.box {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.title {
  width: 80vh;
  color: white;
  font-family: title;
  font-size: 5em;
  text-align: center;
  position: relative;
  top: -850px;
  animation: fadeUp 2.5s;
}