@font-face {
  font-family: 'mypage';
  src: url('../font/LINESeedKR-Bd.ttf') format('truetype');
}

body {
  background-color: black;
  height: 50rem;
  font-family: mypage;
  overflow-x: hidden;
}

body::-webkit-scrollbar {
  width: 12px;
}

body::-webkit-scrollbar-thumb {
  background-color: #f5f5f5;
  border-radius: 20px;
  background-clip : padding-box;
  border: 2px solid transparent;
}

body::-webkit-scrollbar-track {
  background-color: #343434;
  border-radius: 20px;
}

.nav {
  width: 90%;
  height: 4.5rem;
  margin-top: 0;
  padding-left: 10%;
  padding-top: 5%;
  padding-bottom: 2%;
  color: white;
  font-size: 3em;
}

.box {
  width: 90%;
  padding: 60px;
  margin-bottom: 20px;
  margin-left: 100px;
}

.movie-box {
  width: 100%;
}

.movie-list {
  display: flex;
  flex-direction: column;
}

.img-list {
  width: 100%;
  height: 100%;
  display: flex;
  padding-left: 50px;
  padding-top: 20px;
  padding-bottom: 20px;
  overflow-x: scroll;
}

.img-list::-webkit-scrollbar {
  display: none;
}

.stars {
  display: flex;
}

.star-img {
  width: 50px;
  height: 50px;
}

.movie-img {
  max-width: 16rem;
  min-width: 16rem;
  max-height: 22rem;
  min-height: 22rem;
  border-radius: 20px;
  margin-left: 20px;
  box-shadow: 6px 6px #f5f5f5;
}

.movie-img:hover {
  transform: scale(1.05);
}

a {
  width: fit-content;
  padding-top: 10px;
  padding-bottom: 10px;
}

.back-page {
  margin-top: 630px;
  position: fixed;
}

.back {
  width: 30px;
  height: 30px;
  margin-left: 30px;
}

.page-btn {
  display: flex;
  justify-content: flex-end;
  width: 85%;
  margin-bottom: 10px;
}

.before {
  width: 60px;
  height: 60px;
}

.next {
  width: 60px;
  height: 60px;
}

.next-page {
  display: flex;
  align-items: center;
}

.box-align {
  display: flex;
  width: 100%;
}

.checked {
  color: orange;
}

.my-btn {
  background-color: inherit !important;
  border : 0 !important;
}