{% extends 'base.html' %}
{% load static %}

{% block css %}
  <link rel="stylesheet" href="{% static "css/likedirectors.css" %}">
{% endblock css %}

{% block script %}

{% endblock script %}

{% block content %}
  <div class="nav">팔로우한 감독 LIST</div>
  <hr>
  <div class="back-page">
    <a href="http://127.0.0.1:8000/mypage/{{person.pk}}/profile"><img src="{% static "images/back.png" %}" alt="" class="back"></a>
  </div>
  <div class="box">
    {% for director in directors %}
      <div class="director-box">
        {% if director.profile_image %}
          <img src="{{ director.profile_image.url }}" alt="" class="director-img">
        {% endif %}
        <p>{{ director }} 감독</p>
        <p>최근 게시글 : <a href="http://127.0.0.1:8000/behinds/{{ director.behind_set.all.last.pk }}/detail/">{{ director.behind_set.all.last.title }}</a></p>
      </div>
    {% endfor %}
  </div>
{% endblock content %}